<section class="content">

    <!-- <h1>{{ title }}</h1> -->
    
    <div class="mycarddiv">
        <div class="drows ">
            <mat-card class="mycard">
              <mat-card-content>Balance Sheet</mat-card-content>
            </mat-card>
            
            <mat-card class="mycard">
              <mat-card-content>Income Statement</mat-card-content>
            </mat-card>
            <mat-card class="mycard">
              <mat-card-content>Budget</mat-card-content>
            </mat-card>
            <mat-card class="mycard">
              <mat-card-content>Invoice</mat-card-content>
            </mat-card>
            </div>        
    </div>
    
    </section>
    