<section class="content">

    <!-- <h1>{{ title }}</h1> -->
    
    <div class="mycarddiv">
        <div class="drows ">
            <mat-card class="mycard">
              <mat-card-content>Simple card</mat-card-content>
            </mat-card>
            
            <mat-card class="mycard">
              <mat-card-content>Simple card</mat-card-content>
            </mat-card>
            <mat-card class="mycard">
              <mat-card-content>Simple card</mat-card-content>
            </mat-card>
            </div>        
    </div>
    
    </section>
    