.content{
    display: flex;
    flex:1;
    height: 100%;
    overflow: scroll;
    }

.mycarddiv{
flex: 1;
justify-content: space-between;
box-sizing: border-box;
margin: 2vh;
}
.mytabcls{
    background-color: #a8c799;
    color:rgb(29, 48, 22);

}
:host { 
  
  --mat-table-row-item-label-text-color: #2b6444bd;
  --mat-paginator-container-text-color: #2b6444;
}
.pgnt{
  background-color: #92b391;

}
.mytext{
  color:rgb(106, 134, 96);
}