<section class="content">

<!-- <h1>{{ title }}</h1> -->

<div class="mycarddiv">
  <div class="drows">
<mat-card class="mycard">
  <mat-card-content>Stock</mat-card-content>
</mat-card>

<mat-card class="mycard">
  <mat-card-content>Orders</mat-card-content>
</mat-card>
<mat-card class="mycard">
  <mat-card-content>Fleet</mat-card-content>
</mat-card>
</div>


<div class="drows">
<mat-card class="mycard">
  <mat-card-content>Transactions</mat-card-content>
</mat-card>
<mat-card class="mycard">
  <mat-card-content>Sales</mat-card-content>
</mat-card>
<mat-card class="mycard">
  <mat-card-content>Inputs</mat-card-content>
</mat-card>
</div>



</div>

</section>
