<section class="content">

<!-- <h1>{{ title }}</h1> -->
<p>Explore a wide range of automobiles!</p>

<h2>Featured Automobiles</h2>
<ul>
  <li>2024 Tesla Model S</li>
  <li>2023 Toyota Camry</li>
  <li>2022 Ford F-150</li>
</ul>
<div class="mycarddiv">
<mat-card class="mycard">
  <mat-card-content>Simple card</mat-card-content>
</mat-card>

<mat-card class="mycard">
  <mat-card-content>Simple card</mat-card-content>
</mat-card>
<mat-card class="mycard">
  <mat-card-content>Simple card</mat-card-content>
</mat-card>
</div>
<a routerLink="/cars">View All Cars</a>
</section>
