.content{
    display: flex;
    flex:1;
    height: 100%;
    overflow: scroll;
    }

.mycarddiv{
flex: 1;
justify-content: space-between;
box-sizing: border-box;
margin: 2vh;
}
.mytabcls{
    background-color: #afc591;
}
.pgnt{
    background-color: #8a9c71;
  
  }