

  

      <!-- <a mat-list-item *ngFor="let item of menuItems" routerLink="{{ item.link }}"> -->
        <!-- <mat-icon>{{ item.icon }}</mat-icon> -->
        <!-- <span matLine>{{ item.label }}</span> -->
                <!-- <span matLine>HEY</span>
<p>WJGBRJKEWR</p> -->
      <!-- </a> -->


<div class="sidebar">
<mat-sidenav-container class="example-container">
  
  <mat-sidenav-content>
    <mat-list role="list">
      <mat-list-item role="listitem">Dashboard</mat-list-item>
      <mat-list-item role="listitem">Vehicles</mat-list-item>
      <mat-list-item role="listitem">Spare/Parts</mat-list-item>
      <mat-list-item role="listitem">Orders and Processing</mat-list-item>
      <mat-list-item role="listitem">Sales & Transactions</mat-list-item>

      <mat-list-item role="listitem">Inventory</mat-list-item>
      <mat-list-item role="listitem">Suppliers</mat-list-item>
      <mat-list-item role="listitem">Bus Fleet</mat-list-item>

      <mat-list-item role="listitem">Other Services</mat-list-item>
      <mat-list-item role="listitem">Accounts & Finance</mat-list-item>
      <mat-list-item role="listitem">Employee</mat-list-item>
    </mat-list>
    <mat-list role="list">
      <mat-list-item role="listitem"><a routerLink="/dashboard">Dashboard</a></mat-list-item>
      <mat-list-item role="listitem"><a routerLink="/vehicles">Vehicles</a></mat-list-item>
      <mat-list-item role="listitem"><a routerLink="/spare-parts">Spare/Parts</a></mat-list-item>
      <!-- Add router links for other components -->
    </mat-list>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>
