

  

      <!-- <a mat-list-item *ngFor="let item of menuItems" routerLink="{{ item.link }}"> -->
        <!-- <mat-icon>{{ item.icon }}</mat-icon> -->
        <!-- <span matLine>{{ item.label }}</span> -->
                <!-- <span matLine>HEY</span>
<p>WJGBRJKEWR</p> -->
      <!-- </a> -->


<div class="sidebar">
    <p>WJGBRJKEWR</p>
<mat-sidenav-container class="example-container">
  
  <mat-sidenav-content>
    Main content
    <mat-list role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>
