<section class="content">

    
    <div class="mycarddiv">
 
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
     
  <mat-tab label="Make Order" class="tabpanel"> 
    <ng-template mat-tab-label>
      <span class="mtlabel">Make Order</span>
    </ng-template>
<div class="tabpanel">
  <form class="order-form" (ngSubmit)="submitOrder()" #orderForm="ngForm">
    <div class="form-group">
      <label for="itemName">Item Name:</label>
      <input type="text" id="itemName" name="itemName" ngModel required>
    </div>
  
    <div class="form-group">
      <label for="quantity">Quantity:</label>
      <input type="number" id="quantity" name="quantity" ngModel required>
    </div>
  
    <!-- Add more form fields as needed -->
  
    <button type="submit" [disabled]="orderForm.invalid" class="submit-button">Submit Order</button>
  </form> 
</div>
    
    </mat-tab>


    <mat-tab label="Items Pending"> 
      <ng-template mat-tab-label>
        <span class="mtlabel">Orders Pending</span>
      </ng-template>






    </mat-tab>

    <mat-tab label="Done" >    
      <ng-template mat-tab-label>
        <span class="mtlabel">Orders Completed</span>
      </ng-template>





    </mat-tab>
  
    </mat-tab-group>
  


  
  
  <!-- Order Confirmation Component -->
  <!-- <div *ngIf="orderSubmitted">
    <h2>Order Confirmation</h2>
    <p>Your order has been successfully submitted. Thank you!</p>
  </div> -->
      
    </div>
    
    </section>
    