.content{
    display: flex;
    flex:1;
    height: 100%;
    overflow: scroll;
    }

.mycarddiv{
flex: 1;
justify-content: space-between;
box-sizing: border-box;
margin: 2vh;
}


::ng-deep .mat-mdc-tab.mdc-tab.mdc-tab.mdc-tab {
  background-color:#dafac5;
 
}
  .mtlabel{
    // color:#0f170a;
    color:#343633;

  }


.tabpanel{
  margin-top: 30px;
}



.mytabcls{
    background-color: #a8c799;
    color:rgb(29, 48, 22);

}
:host { 
  
  --mat-table-row-item-label-text-color: #2b6444bd;
  --mat-paginator-container-text-color: #2b6444;
}
.pgnt{
  background-color: #92b391;

}
.mytext{
  color:rgb(106, 134, 96);
}





.order-form {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}