/* You can add global styles to this file, and also import other style files */



@use '@angular/material' as mat;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: black;}

mat-tab-group {
    color: black;
  }

// Define your custom colors
$custom-primary: (
  50: #E3F2FD,
  100: #BBDEFB,
  200: #90CAF9,
  300: #64B5F6,
  400: #42A5F5,
  500: #2196F3,
  600: #1E88E5,
  700: #1976D2,
  800: #1565C0,
  900: #0D47A1,
  A100: #82B1FF,
  A200: #448AFF,
  A400: #2979FF,
  A700: #2962FF,
);

$custom-accent: (
  50: #FFF8E1,
  100: #FFECB3,
  200: #FFE082,
  300: #FFD54F,
  400: #FFCA28,
  500: #FFC107,
  600: #FFB300,
  700: #FFA000,
  800: #FF8F00,
  900: #FF6F00,
  A100: #FFE57F,
  A200: #FFD740,
  A400: #FFC400,
  A700: #FFAB00,
);

$custom-warn: (
  50: #FFEBEE,
  100: #FFCDD2,
  200: #EF9A9A,
  300: #E57373,
  400: #EF5350,
  500: #F44336,
  600: #E53935,
  700: #D32F2F,
  800: #C62828,
  900: #B71C1C,
  A100: #FF8A80,
  A200: #FF5252,
  A400: #FF1744,
  A700: #D50000,
);


$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);
// Create a theme using your custom colors
// $custom-theme: mat-light-theme($custom-primary, $custom-accent, $custom-warn);

// Include Angular Material pre-built themes
// @include mat-core();
// @include angular-material-theme($custom-theme);
