.content{
    display: flex;
    flex:1;
    height: 100%;
    overflow: scroll;
    }

.mycarddiv{
flex: 1;
justify-content: space-between;
box-sizing: border-box;
margin: 2vh;
}

.drows{
    display: flex;
    flex-direction: row; 
width: 100%;
justify-content: space-around;

flex: 1;
}
.mycard{
    padding: 10px;
    flex-direction: column; 
    width: 23vw;
    height: 22vh;
margin-bottom: 4vh;
margin-top: 4vh;
// background-color: #95b079;
color:#54614e;
background: linear-gradient(to left, #bfd6a8, #ced8c7);


}
.mytabcls{
    background-color: #afc591;
}
.pgnt{
    background-color: #8a9c71;
  
  }